   .header {
       max-width: 600px;
       height: 150px;
       background-color: black;
       color: white;
       font-size: 30px;
       padding: 5px;
   }
   
   .nav {
       background-color: #ddd;
       width: 200px;
       height: 400px;
       padding: 10px;
       float: left;
   }
   
   .sector {
       max-width: 400px;
       height: 400px;
       background-color: #0dd;
       padding: 10px;
       margin: 0 auto;
       float: left;
   }
   
   .footer {
       max-width: 600px;
       background-color: #dd0;
       clear: both;
   }
   
   * {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
   }
