.nav {
    background: #f7e8d5;
}

.nav a {
    font-size: 14px;
    /*font-weight: bold;*/
    font-family: 'Comic Sans MS';
    padding: 14px 10px;
    text-transform: uppercase;
    color: #ee6123;
}

.logo_txt {
    display: inline;
}

.nav ul {
    margin: 5px 20px 5px 0px;
}

.nav li {
    display: inline;
    margin-right: 5px;
}

.nav {
    margin: 0px;
    padding: 0px;
}

.nav img {
    margin: 0px 8px;
}

.nav .pull-right span {
    margin-right: 3px;
}


/*set logo font*/

.nav li:hover {
    color: #fff;
    background: #fff;
}

.nav a:hover {
    color: #000;
}

.jumbotron {
    background-image: url(../images/main_01.jpg);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: round 30s linear infinite;
}

.jumbotron .container {
    position: relative;
    top: 210px;
}

.jumbotron h1 {
    color: #000;
    font-size: 45px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
}

.jumbotron p {
    font-family: 'Comic Sans MS';
    font-size: 20px;
    color: #000;
}

.about_breakfast-guides {
    padding-top: 60px;
}

.about_breakfast-guides h2 {
    color: #000;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    margin-left: 80px;
}

.about_breakfast-guides p {
    color: #000;
    font-size: 16px;
    /*font-weight: bold;*/
    font-family: 'Shift', sans-serif;
    margin: 20px 0px;
}

.btn {
    width: 100px;
    background: #fabd42;
}

.Category {
    padding-top: 60px;
}

.Category h2 {
    font-family: 'Comic Sans MS';
    font-weight: bold;
    margin-left: 80px;
    padding: 10px;
}

.content_footer {
    margin: 10px;
    padding: 20px;
    height: 100px;
}

.contact .form-control {
    padding: 10px;
    margin: 10px;
}

.contact h2 {
    font-family: 'Comic Sans MS';
    font-weight: bold;
    margin-left: 15px;
}

.content_footer {
    background-color: #f7e8d5;
}

.content_footer a {
    color: #00b0ff;
}

@keyframes round {
    /*---------------------------------------------------*/
    /*number one pic 11-12秒淡出*/
    35% {
        opacity: 0;
        filter: alpha(opacity=0);
        background-image: url(../images/main_01.jpg);
    }
    /*number two pic 11-12秒顯示*/
    35% {
        opacity: 1;
        filter: alpha(opacity=100);
        background-image: url(../images/main_02.jpg);
    }
    65% {
        opacity: 0;
        filter: alpha(opacity=0);
        background-image: url(../images/main_02.jpg);
    }
    /*---------------------------------------------------*/
    /*number three pic 21秒顯示*/
    65% {
        opacity: 1;
        filter: alpha(opacity=100);
        background-image: url(../images/main_03.jpg);
    }
    /*number one pic 29秒顯示*/
    95% {
        opacity: 1;
        filter: alpha(opacity=100);
        background-image: url(../images/main_01.jpg);
    }
}
